 <%- include('./templates/header.ejs') %>
 <%- include('./templates/nav.ejs') %> 

<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <%- include("templates/header") %>

    <title>Discord Lists | Partners | CrazyTech Development</title>
  </head>
  <body>
    
      </div>
     </nav><br><br>
     
      <center><h1>CrazyTech Development</h1></center>
      <img src='https://cdn.glitch.com/b4dd71f7-883f-4f26-a6ac-a36cdfbd9700%2FCrazyTech%20Dev.png?v=1607467813974' class="rounded mx-auto d-block" alt="Logo"><br>
      <br>
      <p>CrazyTech Development is an amazing community with amazing bot developers and moderators!
  </body>
</html>