<%- include('./templates/header.ejs') %>
<%- include('./templates/nav.ejs') %> 
<br><br><Br>
<h2 style="text-align:center;">Well, darn it.</h2>
<br><br>
<div class="center-flex">
<img src="https://ik.imagekit.io/arpantaneja/404_Error-rafiki_2dc_W9-L7EG.svg" id="notfound-svg" />
</div>
<h2 style="text-align:center;">Page Not Found</h2>
<div class="center-flex">
<button class="button-main" onclick="history.back()">Back</button>
<button class="button-main" onclick="window.location.href = '/' ">Home</button>
</div><br><br>
<%- include('./templates/footer.ejs') %>
