 <%- include('./templates/header.ejs') %>
 <%- include('./templates/nav.ejs') %> 

<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">

    <title>Adding New Bot</title>
  </head>
  <body>
    <u><center><h1>Add your bot</h1></center></u><br>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
    <form id="mainform"class="needs-validation" method="POST" action="/addbot/success" novalidate>
        <div class="col-md-4">
          <label for="validationCustom01" class="form-label">Bot's Client ID *</label>
          <input type="text" class="form-control" name="id" id="validationCustom01" placeholder="786125193394651166" required>
          <div class="invalid-feedback">
            You must type your bot ID
          </div>
        </div><br>
        <div class="col-md-4">
            <label for="validationCustom01" class="form-label">Bot's Prefix *</label>
            <input type="text" class="form-control" name="prefix" id="validationCustom01" placeholder=">" required>
            <div class="invalid-feedback">
              You must type your bot's prefix
            </div>
        </div><br>
        <div class="col-md-4">
            <label for="validationCustom01" class="form-label">Brief Description About Your Bot *</label>
            <input type="text" class="form-control" name="short" id="validationCustom01" placeholder="A mulipurpose bot." maxlength="40" required>
            <div class="invalid-feedback">
              You must type a small description about your bot
            </div>
        </div><br>
        <div class="col-md-4">
            <label for="validationCustom01" class="form-label">Detailed Description About Your Bot. *</label>
            <textarea class="form-control" name="long" id="validationCustom01" placeholder="The old man was bent into a capital C, his head leaning so far forward that his beard nearly touched his knobby knees." minlength="300" required></textarea>
            <div class="invalid-feedback">
              Your description must exceed 300 character limit.
            </div>
        </div><br>
        <div class="col-md-4">
            <label for="validationCustom01" class="form-label">Website URL</label>
            <input type="text" class="form-control" name="site" id="validationCustom01" placeholder="https://bot.com">
        </div><br>
        <div class="col-md-4">
            <label for="validationCustom01" class="form-label">GitHub URL</label>
            <input type="text" class="form-control" name="github" id="validationCustom01" placeholder="github.com/dev/mybot">
        </div><br>
        <div class="col-md-4">
            <label for="validationCustom01" class="form-label">Support Server URL</label>
            <input type="text" class="form-control" name="server" id="validationCustom01" placeholder="discord.gg/minecraft">
        </div><br>
        <div class="col-md-4">
            <label for="validationCustom01" class="form-label">Invite URL. *</label>
            <input type="text" class="form-control" name="invite" id="validationCustom01" placeholder="discord.com/oath/blahblah" required>
        </div><br>
        <div class="col-12">
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="invalidCheck" required>
            <label class="form-check-label" for="invalidCheck">
              Agree to terms and conditions
            </label>
            <div class="invalid-feedback">
              You must agree before submitting.
            </div>
          </div>
        </div><br>
        <div class="col-12">
          <button class="button-main" type="submit">Submit form</button>
        </div><br>
        <h6>* = Required</h6>
      </form>
 <%- include('./templates/footer.ejs') %> 

<script>
    // Example starter JavaScript for disabling form submissions if there are invalid fields
(function () {
  'use strict'

  // Fetch all the forms we want to apply custom Bootstrap validation styles to
  var forms = document.querySelectorAll('.needs-validation')

  // Loop over them and prevent submission
  Array.prototype.slice.call(forms)
    .forEach(function (form) {
      form.addEventListener('submit', function (event) {
        if (!form.checkValidity()) {
          event.preventDefault()
          event.stopPropagation()
        }

        form.classList.add('was-validated')
      }, false)
    })
})()
</script>