<%- include('./templates/header.ejs') %>
<br><Br>
<img src="https://cdn.glitch.com/1be813f1-4233-4b7a-bf44-8a562481d51f%2Flogo.png?" class="top-img"/>
<br>
<h1>Discord Lists</h1>
<br>
<p>The history of Discord Bots!</p>
<br>
<hr>
<center>
<h1> hi there</h1>
<p>Welcome to discordlists beta portal! You have access to a beta version of discordlists!!!!! If you have access by mistake please contact a mod on our server</p> 
<br>
        <a href="/main"><button class="button-main">Access Beta Site</button></a>

</center>
<br><br><Br>
<br><br><br><br><hr><br>
      
 <%- include('./templates/footer.ejs') %> 