 <%- include('./templates/header.ejs') %>
 <%- include('./templates/nav.ejs') %> 
<br><Br><Br><Br>
<head><title>Report Bugs</title></head>
<script>
function showSnackbar() {
  const snackbar = document.querySelector(".snackbar");
  snackbar.classList.add("show");
  setTimeout(() => snackbar.classList.remove("show"), 5000);
}
window.onload = ()=>{
setTimeout(function(){
 	showSnackbar()
}, 1000);
}
</script>

<% if(success) {%>
<div class="snackbar">
  <div>Successfully submitted!</div>
</div>
<% } %>

<H1><i class="fas fa-bug"></i> Bug Reports <H1>
<p style="padding:100px">Found a Vulnerability? Bug? Something unexpected? Report here! Make sure to join our Discord. We will respond as soon as we can. In case of any issues, contact a staff or a mod, they will assist you.</p>
<br>

<form method="POST" action="/reportbug">
<div id="bugformDIV">
<input id="title" placeholder="Title" type="text" class="form-input"required name="title"></input>
<input id="desc" placeholder="Description" type="text" class="form-input" required name="desc"></input>
<input id="useridandtag" placeholder="Your Discord ID and Tag" type="text" class="form-input" required name="useridandtag">
</div><br>
<input type="submit" class="button-main" style="transform: translate(0, -50px);"></input>
</form>


<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
 <%- include('./templates/footer.ejs') %> 