 <%- include('./templates/header.ejs') %>
 <%- include('./templates/nav.ejs') %> 

<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <%- include("templates/header") %>

    <title>Discord Lists | Certification</title>
  </head>
  <body>
    <u><center><h1>Your are going to add your bot to the certification program</h1></center></u><br><br><br>
    <u><center><h3>Requirements:</h3></center></u>
    <br>
    <center>
    <p>-Bot MUST be in over 50 servers</p>
    <p>-Bot owner MUST have discord 2FA enabled</p>
    <p>-Bot must have 100% uptime with the exception of bot downtime and error fixing</p>
    <p>-Bot MUST be on the list for over 2 weeks</p>
    <br>
    <center><form method="POST" action="/bot/<%= botid.botid %>/certification">
    </form></center>
    <u><h4>Note: These requirements can be changed and current certified bots must still meet those new requirements.</h3></u>

    <br><br>
    <div class="center-flex">
    <button class="button-main disabled">Coming Soon!</button>
    </div>
    </center>
    <br><br><br><br>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
  </body>
</html>