 <%- include('./templates/header.ejs') %>
 <%- include('./templates/nav.ejs') %> 

<!doctype html>
<html lang="en">
  <head>
    <%
    var url = new URL(`https://localhost:5000/error?code=${req.query.code}&message=${req.query.message}`);
     var params = new URLSearchParams(url.search);
    %>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
        <%- include("templates/header") %>


    <title>Discord Lists | 404 Error</title>
  </head>
  <body>
      <h1>Error</h1>
  </body>
</html>