<%- include('./templates/header.ejs') %>
 <%- include('./templates/nav.ejs') %> 
 <head><title>Staff Apps </title></head>
<br><br>
<center>
<h1> Maintenance Mode Enabled </h1>
<br>
<p> Maintenance mode has been turned on, that means the site will be inaccessable to non-staff members. Join our <a href="/join"> server for more info</a> <p>
<Br><Br><Br>

 <%- include('./templates/footer.ejs') %> 
 