 <%- include('./templates/header.ejs') %>
 <%- include('./templates/nav.ejs') %> 
<title>Discord Lists | Official Partners</title>

<h1>Discord Lists Partners</h1>
<br>
<br>
<p>Partners of this bot list!</p>
<br>

<div class="container">
  <div class="card">
    <div class="imgBx">
      <img src="">
    </div>
    <div class="contentBx"><br>
      <h2>n/a</h2><br><br>
      <a href="/n-a" class="viewbot"><button class="button-main">View</button></a>
      <a href="" class="invitebot"><button class="button-main">Join</button></a>
    </div>
  </div>
  <br>