 <%- include('./templates/header.ejs') %>
 <%- include('./templates/nav.ejs') %> 
<title>Discord Lists | Official Partners</title>

<h1>Discord Lists Partners</h1>
<br>
<br>
<p>Partners of this bot list!</p>
<br>

<div class="container">
  <div class="card">
    <div class="imgBx">
      <img src="https://cdn.glitch.com/b4dd71f7-883f-4f26-a6ac-a36cdfbd9700%2FCrazyTech%20Dev.png?v=1607467813974">
    </div>
    <div class="contentBx"><br>
      <h2>CrazyTech Dev</h2><br><br>
      <a href="/error" class="viewbot"><button class="button-main">View</button></a>
      <a href="/partners/invite/crazytech" class="invitebot"><button class="button-main">Join</button></a>
    </div>
  </div>
  <br>