
<%- include('./templates/header.ejs') %>
 <%- include('./templates/nav.ejs') %> 
 <head><title>Staff Apps </title></head>
<br><br>
<center>
<h1> <i class="fas fa-star" aria-hidden="true"></i> Staff Apps </h1>
<br>
<p> Fill the form below to apply for becoming a staff in our server. <p>
<Br><Br><Br>
<form id="form" action="/staffapplications" method="POST">
  <div class="col-md-4">
    <label for="a" class="form-label">How old are you? Honesty is the best policy.</label>
    <input type="text" class="form-control" name="a" id="a" placeholder="" required>   
    </input>
  </div>
<br>
  <div class="col-md-4">
    <label for="b" class="form-label">What role are you applying for?</label>
    <input type="text" class="form-control" name="b" id="b" placeholder="" required>
    </input>
  </div>
<br>
  <div class="col-md-4">
    <label for="c" class="form-label">Why do you want to be a Moderator?</label>
    <input type="text" class="form-control" name="c" id="c" placeholder="" required>
    </input>
  </div>
<br>
  <div class="col-md-4">
    <label for="d" class="form-label">Why should we select you over other applicants?</label>
    <input type="text" class="form-control" name="d" id="d" placeholder="" required>
    </input>
  </div>
<br>
  <div class="col-md-4">
    <label for="e" class="form-label">What are the three adjectives that describe you the best?</label>
    <input type="text" class="form-control" name="e" id="e" placeholder="" required>
    </input>
  </div>
<br>
  <div class="col-md-4">
    <label for="f" class="form-label">Any suggestions/improvements for Discord Lists on your mind? or anything else you want to say?</label>
    <input type="text" class="form-control" name="f" id="f" placeholder="" >
    </input>
  </div>
<Br>
  <div class="col-md-4">
    <label for="g" class="form-label">Tell us a joke. The creative the better.</label>
    <input type="text" class="form-control" name="g" id="g" placeholder="" required>
    </input>
  </div>
<br>
<br>
  <div class="col-md-4">
  <button class="button-main" type="submit" id="submit-btn">Submit</submit>
  </div>
</form>
<script>
function showSnackbar() {
  const snackbar = document.querySelector(".snackbar");
  snackbar.classList.add("show");
  setTimeout(() => snackbar.classList.remove("show"), 5000);
}
window.onload = ()=>{
setTimeout(function(){
 	showSnackbar()
}, 1000);
}
</script>

<% if(success) {%>
<div class="snackbar">
  <div>Successfully submitted!</div>
</div>
<% } %>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
 <%- include('./templates/footer.ejs') %> 
 