/* Mobile */

@media only screen and (max-width: 450px){
  .card{
    margin-right: 0 !important;
  }
  #menu li{
    margin-left: 20px;
  }
  .usernameDiscriminator{
    word-break: break-all;
    padding: 30px;
  }
  #notfound-svg{
    width: 350px;
  }
  #bugformDIV{
    font-size: 20px;
  }
}