<head>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" />
</head>
		<footer class="footer-distributed">

			<div class="footer-right">

<a href="/join"><i class="fab fa-discord"></i></a>
        <a href="/twitter"><i class="fab fa-twitter"></i></a>
        <a href="/github"><i class="fab fa-github"></i></a>

			</div>

			<div class="footer-left">

				<p class="footer-links">
					<a class="link-1" href="#">Home</a>
					<a href="/">Bots</a>

					<a href="/search">Search</a>

					<a href="/invite">Discord</a>

					<a href="/about">About Us</a>

          <a href="/addbot">Add your Bot</a>
				</p>
        <div style="text-align:center" class="marginadd">
        <a href="https://github.com/Discord-Lists/Privacy-Policy">Privacy Policy</a>
        <a href="https://github.com/Discord-Lists/Terms-Of-Service">&nbsp; TOS</a>
        </div><Br>
				<p id="copyright">Discord Lists &copy; 2020</p>


			</div>

		</footer>

    
<script type="text/javascript">
var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
(function(){
var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
s1.async=true;
s1.src='https://embed.tawk.to/60eb0bacd6e7610a49aabaa3/1fab2b6ro';
s1.charset='UTF-8';
s1.setAttribute('crossorigin','*');
s0.parentNode.insertBefore(s1,s0);
})();
</script>
</body>
</html>