<head>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" />
</head>
		<footer class="footer-distributed">

			<div class="footer-right">

<a href="/join"><i class="fab fa-discord"></i></a>
        <a href="/twitter"><i class="fab fa-twitter"></i></a>
        <a href="/github"><i class="fab fa-github"></i></a>

			</div>

			<div class="footer-left">

				<p class="footer-links">
					<a class="link-1" href="/">Home</a>
					<a href="/">Bots</a>

					<a href="/search">Search</a>

					<a href="/invite">Discord</a>

					<a href="/faq">FAQ</a>

          <a href="/addbot">Add your Bot</a>
				</p>
        <div style="text-align:center" class="marginadd">
        <a href="https://github.com/Discord-Lists/Privacy-Policy">Privacy Policy</a>
        <a href="https://github.com/Discord-Lists/Terms-Of-Service">&nbsp; TOS</a>
        </div><Br>
				<p id="copyright">Discord Lists &copy; 2020</p>


			</div>

		</footer>
    <footer style="
    background: #171616;
    color: #fff;
    text-align: center;
    font-size: 10px;
"><div class="footer-wrap center flex">
    <span> <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-code" width="60" height="60" viewBox="0 0 24 24" stroke-width="1.5" stroke="#fff" fill="none" stroke-linecap="round" stroke-linejoin="round">
  <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
  <polyline points="7 8 3 12 7 16"></polyline>
  <polyline points="17 8 21 12 17 16"></polyline>
  <line x1="14" y1="4" x2="10" y2="20"></line>
</svg> with <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-heart" width="60" height="60" viewBox="0 0 24 24" stroke-width="1.5" stroke="#fff" fill="none" stroke-linecap="round" stroke-linejoin="round">
  <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
  <path d="M19.5 13.572l-7.5 7.428l-7.5 -7.428m0 0a5 5 0 1 1 7.5 -6.566a5 5 0 1 1 7.5 6.572"></path>
</svg> by <a href="https://github.com/memastermind" class="text-decoration-underline">MasterMind </a> and <a href="https://github.com/pasindudushan" class="text-decoration-underline">CrazyBotBoy</a>
    </span></div></footer>
</body>
</html>