<head>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" />
</head>
		<footer class="footer-distributed">

			<div class="footer-right">

<a href="/join"><i class="fab fa-discord"></i></a>
        <a href="/twitter"><i class="fab fa-twitter"></i></a>
        <a href="/github"><i class="fab fa-github"></i></a>

			</div>

			<div class="footer-left">

				<p class="footer-links">
					<a class="link-1" href="/">Home</a>
					<a href="/">Bots</a>

					<a href="/search">Search</a>

					<a href="/invite">Discord</a>

					<a href="/faq">FAQ</a>

          <a href="/addbot">Add your Bot</a>
				</p>
        <div style="text-align:center" class="marginadd">
        <a href="https://github.com/Discord-Lists/Privacy-Policy">Privacy Policy</a>
        <a href="https://github.com/Discord-Lists/Terms-Of-Service">&nbsp; TOS</a>
        </div><Br>
				<p id="copyright">Discord Lists &copy; 2021</p>


			</div>

		</footer>
    <script src="https://57w9zh20d90b.statuspage.io/embed/script.js"></script>
</body>
</html>