<nav id='menu'>
  <input type='checkbox' id='responsive-menu' onclick='updatemenu()'><label></label>
  <ul>
    <li><a href="/"><img src="https://cdn.glitch.com/1be813f1-4233-4b7a-bf44-8a562481d51f%2Flogo.png?" style="
    width: auto;
    height: 58px;
"></a></li>
    <li><a href='/user/@me'>Home</a></li>
    <li><a href='/bots'>Bots</a></li>
    <li><a href='/bots'>Search</a></li>
    <li><a href='/invite'>Discord</a></li>
    <% if(login_logout){ %>
          <li><a href='/logout'>Logout</a></li>
          <% } else{ %>  
          <li><a href='/login'>Login</a></li>
   <% } %>
  </ul>
</nav>
<br><Br><br>